@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Mulish:wght@500&family=Poppins:wght@300&family=Raleway&family=Rubik+Glitch&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px 300px;
    max-width: fit-content;
    min-width: fit-content;
    font-family: 'Poppins', sans-serif;
}

.nav {
    height: 80px; 
    display: flex; 
    padding: 10px 36px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.logo {
    
}

.card-stats {
    align-items: center;
    padding: 30px 20px 30px;

}

.hero-photo {
    align-items: center;
    width: 620px;
}

.hero-header {
    font-size: 50px;
    margin: 0px;
    padding: 24px 0px 0px 0px;
    text-align: start;
}

.hero-text {
   text-align: start;
}

.card-list {
    position: absolute;
    width: 700px;
    display: flex;
    gap: 20px;
    flex-wrap: nowrap;
    overflow-x: scroll;
}

.card {
    width: 185px;
    font-size: 12px;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: flex-start;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
    margin-top: 6px;
    font-size: 12px;
}

.card-rating {
    display: flex;
    align-items: flex-start;
}

.star {
    margin-top: 3px;
    padding-right: 3px;
}

.gray {
    display: flex;
    align-items: center;
    gap: 3px;
    color: #918E9B;
    margin-left: 2px;
}

.dot {
    background: #918E9B;
    width: 3px;
    height: 3px;
    border-radius: 50%;
}

.about {
    margin-top: 4px;
}

.card-title {
    align-items: flex-start;
}

.card-price {
    margin-top: 4px;
}

.bold-price {
    font-weight: 600;
}

.card-img {
    width: 100%;
    max-width: 175px;
    min-width: 175px;
    max-height: 233px;
    border-radius: 9px;
    margin-bottom: 9px;
}

.card-badge {
    position: relative;
    top: 6px;
    left: 6px;
    background-color: white;
    padding: 5px 7px;
    border-radius: 2px;
    font-weight: bold;
} 

/* * {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

nav {
    height: 70px;
    display: flex;
    padding: 20px 36px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.bold {
    font-weight: bold;
}

.gray {
    color: #918E9B;
}

.logo {
    max-width: 100px;
}

section {
    padding: 20px;
}

.hero {
    display: flex;
    flex-direction: column;
}

.hero-photo {
    max-width: 400px;
    align-self: center;
}

.hero-header {
    margin-bottom: 16px;
}

.hero-text {
    margin-top: 0;
}

.cards-list {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 20px;
    overflow-x: auto;
}

.card {
    width: 175px;
    font-size: 12px;
    flex: 0 0 auto;         
    display: flex;         
    flex-direction: column; 
}

.card-img {
    width: 100%;
    border-radius: 9px;
    margin-bottom: 9px;
}

.card-title {
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-stats {
    display: flex;
    align-items: center;
}

.card-star {
    height: 14px;
}

.dot {
    background: #918E9B;
    width: 3px;
    height: 3px;
    border-radius: 50%;
}

.card-price {
    margin-top: auto;
} */